.body{
  background-color: #14151C;
  font-family: 'poppins';
  overflow: hidden;
  font-size: 16px;
}
.mobile{
  display: none;
  visibility: hidden;
}
.desktop{
  display: contents;
  visibility: visible;
}
#video-fond {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#video-fond > video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* 1. Pas de support d'object-fit */
@media (min-aspect-ratio: 16/9) {
  #video-fond > video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  #video-fond > video {
    width: 300%;
    left: -100%;
  }
}
/* 2. En cas de support d'object-fit, écrase les règles en (1) */
@supports (object-fit: cover) {
  #video-fond > video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
.brand{
  height: auto;
  width: 8%;
  filter: brightness(30);
}
.nav-item{
  padding: 0 15px;
}
.nav-item .nav-link{
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 50%;
}
.nav-item .nav-link:hover{
  text-decoration: underline;
  color: #FFF;
  opacity: 100%;
}
.time{
  /* position: relative;
  margin: 440px auto; */
  margin-top: 200%;
  width: max-content;
  padding: 10px 60px;
  font-size: 16px;
  text-align: center;
  font-weight: lighter;
  color: #FFF;
  background-color: rgba(190,190,190,0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 160px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.count-time{
  width: 150px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
}
.footer{
  width: 100%;
  height: min-content;
  margin-top: 38%;
  bottom: 0;
  color: #FFF;
  position: relative;
}
.footer .row{
  width: 100%;
}
.list-group-item a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #FFF;
  opacity: 50%;
}
.list-group .list-group-item{
  background-color: rgba(255, 255, 255, 0);
  border: 0px solid rgba(255, 255, 255, 0);
}
.list-group-item a:hover{
  text-decoration: underline;
  opacity: 100%;
  color: #FFF;
}
.right{
  transform: rotate(90deg);
  color: #FFF;
  position: absolute;
  float: right;
  margin-right: 3%;
  margin-top: -35px;
  right: 5%;
  font-weight: lighter;
}
span{
  color: #FFF;
}
.center span{
  padding: 3% 0;
}
.center{
  margin-top: -2%;
  position: relative;
}
.center span, .center ul{
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  margin-top: -3%;
  text-transform: uppercase;
  padding: 0;
  font-weight: lighter;
}
.left{
  font-weight: lighter;
}


@media screen and (max-width: 480px) {
  .body{
    background-color: #14151C;
    font-family: 'poppins';
    overflow: hidden;
    font-size: 16px;
  }
  .desktop{
    display: none;
  }
  .mobile{
    display: contents;
    overflow: hidden;
  }
  .brand{
    height: auto;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    justify-content: center;
    display: contents;
  }
  .time{
    margin-top: 0%;
  }
  /* .mobile {
    /* position: relative; *
    color: #FFF;
  }
  .clothing{
    color: #fff;
    position: relative;
  } */

  .footer{
    padding: 1% 5%;
    /* position: absolute; */
    margin-top: 81%;  
    /* margin-left: 3%; */
  }
  .right{
    right: -2%;
    margin-top: 8%;
    
  }
  .center{
    margin-top: -37%;
    position: relative;
  }
  .list-group{
    width: 200px;
    /* margin-top: 5%; */
  }
  .list-group-item{
    /* width: 200px; */
    display: inline-block;
    padding: 0;
  }
  .list-group-item a{
    font-size: 24px;
  }
}